
.button{
width: 40px;
height: 60px;

}
.container {
    display: flex;
    background-color: transparent;
    justify-content: center;

}

.filho{
    background-color: transparent;
    color: antiquewhite;


}
.item-1{ 
    align-items: self-start;
   

}

 .item-2{
    text-align: center;
 }

 .item-3{
    flex-grow: 6;

    
 }

.item-4{
    text-align:center;
 }



 body{
    background-image:linear-gradient(45deg, rgb(56, 52, 52),rgb(247, 122, 247));
 


}


a {
    text-decoration: none;
}
a:hover{
    color: darkorchid;
    }

    img {
        border-style: solid;
        border-color: rgb(12, 12, 12);
        border-radius: 100%;
        display: flex;
        align-items:last baseline;
    }
 .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(9, 12, 17);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;   }


    button{
        background-color: rgb(223, 175, 230); 
        border: none;
        padding: 15px;
        width: 12%;
        border-radius: 10px;
        color: rgb(253, 244, 244);
        font-size: 18px;
        
    }
    button:hover

 